* {
  box-sizing: border-box;
}

.viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 101;
}

#close-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}